/*
 * This file contains styling for the Main view.
 */

/*
 * Generates a set of style rules for the "navigation" tab UI.
 */



.butActive{
    background-color: rgba(255, 151, 155, 0.64) !important;
}

.map-marker {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -24px;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}